* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* __ Colors __*/
/* __ Devices __*/
/* __ Fonts __ */
.site-footer > .row {
  padding: 25px 0;
  font-family: roboto;
}

.site-footer > .row .footer-gob {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.site-footer > .row .footer-gob h4 {
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .site-footer > .row .footer-gob {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
}

.site-footer > .row {
  padding: 25px 0;
  font-family: roboto;
}

.site-footer > .row .footer-min {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
}

.site-footer > .row .footer-min h4 {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .site-footer > .row .footer-min {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
  }
}

@media (max-width: 345px) {
  .site-footer > .row .footer-min {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
  }
  .site-footer > .row .footer-min h4 {
    margin-bottom: 30px;
  }
}

.site-footer > .row {
  padding: 25px 0;
  font-family: roboto;
}

.site-footer > .row .footer-red {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
}

.site-footer > .row .footer-red h4 {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .site-footer > .row .footer-red {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
}

@media (max-width: 400px) {
  .site-footer > .row .footer-red {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .site-footer > .row .footer-red ul {
    display: -ms-grid;
    display: grid;
  }
  .site-footer > .row .footer-red ul li:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .site-footer > .row .footer-red ul li:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

.site-footer > .row {
  padding: 25px 0;
  font-family: roboto;
}

.site-footer > .row .footer-hor {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
}

.site-footer > .row .footer-hor h4 {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .site-footer > .row .footer-hor {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
  }
}

@media (max-width: 400px) {
  .site-footer > .row .footer-hor {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .site-footer > .row .footer-hor iframe {
    width: 100%;
  }
}

li {
  color: #447ca2;
  list-style-type: none;
  margin-bottom: 5px;
}

li iframe {
  margin-top: 12px;
}

li a:link,
li a:visited,
li a:active {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

i {
  margin-left: 3px;
}

.footer-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d90000;
  color: white;
}

.footer-direction > .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-direction > .row div:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  margin-top: 20px;
}

.footer-direction > .row div:first-child p {
  text-align: center;
}

@media (max-width: 600px) {
  .footer-direction > .row div:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1/11;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    display: flow-root;
  }
}

.footer-direction > .row div:nth-child(2) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-column: 4/11;
  margin-top: 20px;
}

.footer-direction > .row div:nth-child(2) p {
  text-align: center;
}

@media (max-width: 600px) {
  .footer-direction > .row div:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1/11;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    display: flow-root;
  }
}

.footer-direction > .row .topbutton {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
}

@media (max-width: 600px) {
  .footer-direction > .row .topbutton {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

.boton {
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 0px;
  padding: 0px;
  border-radius: 40px;
  position: relative;
  text-align: center;
  outline: none;
  cursor: pointer;
  color: #d90000;
}

.boton i {
  position: relative;
  left: -1px;
  top: -1px;
  right: 0;
  bottom: 0;
  font-size: 23px;
}

.link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  color: #444;
  gap: 15px;
}
/*# sourceMappingURL=footer.css.map */