@import 'variables.scss';

.site-footer {
  & > .row {
    padding: 25px 0;
    font-family: roboto;
     .footer-gob {
      h4{margin-bottom: 5px;}
      grid-column: 1/4;
      @media (max-width: 600px) {
        grid-column: 1/7;
      }
    }
  }
}

.site-footer {
  & > .row {
    padding: 25px 0;
    font-family: roboto;
    .footer-min {
      h4{margin-bottom: 10px;}
      grid-column: 4/7;
      @media (max-width: 600px) {
        grid-column: 7/13;
      }
      @media (max-width: 345px) {
        h4{margin-bottom: 30px;}
        grid-column: 7/13;
      }
    }
  }
}

.site-footer {
  & > .row {
    padding: 25px 0;
    font-family: roboto;
    .footer-red {
      h4{margin-bottom: 10px;}
      grid-column: 7/10;
      @media (max-width: 600px) {
        grid-column: 1/7;
      }
      @media (max-width:400px){
        grid-column: 1/13;
        ul {
          display: grid;
          li:first-child{
            grid-column: 1/2;
          }
          li:nth-child(2){
            grid-column: 2/3;
          }
        }
      }
    }
  }
}

.site-footer {
  & > .row {
    padding: 25px 0;
    font-family: roboto;
    .footer-hor {
      h4{margin-bottom: 10px;}
      grid-column: 10/13;
      @media (max-width: 600px) {
        grid-column: 7/13;
      }
      @media (max-width:400px){
        grid-column: 1/13;
        iframe{
          width: 100%;
        }
      }

    }
  }
}

li {
  color: $colorAzulClaro;
  list-style-type: none;
  margin-bottom: 5px;
  iframe {
    margin-top: 12px;
  }
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

i {
  margin-left: 3px;
}

.footer-direction {
  display: flex;
  background-color: $rojo;
  color: white;
  & > .row { align-items: center;
      div:first-child{ 
        grid-column: 1/4;
        margin-top: 20px;
        p{
         text-align: center;
        }  
        @media (max-width: 600px) {
          grid-column: 1/11;
          display: inline-flex;
          display: flow-root;
        }
      }
      div:nth-child(2) {
        grid-column: 4/11;
        margin-top: 20px;
        p{
          text-align: center;
        }
        @media (max-width: 600px) {
          grid-column: 1/11;
          display: inline-flex;
          display: flow-root;
        }
      }
      .topbutton{
        grid-column: 11/13;
        @media (max-width: 600px) {
          grid-row: 1/3;
          }
        }
      }
    }


.boton {
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 0px;
  padding: 0px;
  border-radius: 40px;
  position: relative;
  text-align: center;
  outline: none;
  cursor: pointer;
  color: $rojo;
  i {
    position: relative;
    left: -1px;
    top: -1px;
    right: 0;
    bottom: 0;
    font-size: 23px;
  }
}

.link {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: #444;
  gap: 15px;
}