* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* __ Colors __*/
/* __ Devices __*/
/* __ Fonts __ */
.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 100px) {
  .row {
    width: 90%;
    grid-column-gap: 10px;
    padding: 0 20px;
  }
}

@media (min-width: 720px) {
  .row {
    width: 95%;
    grid-column-gap: 20px;
    padding: 0 10px;
  }
}

@media (min-width: 1024px) {
  .row {
    width: 95%;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .row {
    max-width: 1200px;
    grid-column-gap: 30px;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 1200px);
      grid-template-columns: minmax(100px, 1200px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}
/*# sourceMappingURL=grid.css.map */