@import "variables.scss";

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  box-sizing: border-box;
  @media (min-width: $mobile) {
    width: 90%;
    grid-column-gap: 10px;
    padding: 0 20px;
  }
  @media (min-width: $tabletport) {
    width: 95%;
    grid-column-gap: 20px;
    padding: 0 10px;
  }
  @media (min-width: $tabletland) {
    width: 95%;
    padding: 0;
  }
  @media (min-width: $desktop) {
    max-width: $desktop;
    grid-column-gap: 30px;
  }
}

.container {
  display: grid;
  grid-template-columns: minmax($mobile, $desktop);
  justify-content: center;
  padding: 0 30px;
  box-sizing: border-box;
  margin-top: 30px;
  @media (min-width: $desktop) {
    padding: 0;
  }
}
