/*-----Section services--------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* __ Colors __*/
/* __ Devices __*/
/* __ Fonts __ */
@media (max-width: 1024px) {
  #services {
    padding: 0 10px;
  }
}

.services__container {
  grid-row-gap: 50px;
  margin: 0;
  width: 100%;
}

@media (max-width: 1024px) {
  .services__container {
    padding: 0;
  }
}

.services__container-item {
  width: 100%;
  grid-column: 1/-1;
  grid-gap: 15px;
}

@media (max-width: 600px) {
  .services__container-item {
    padding: 0;
  }
}

.services__container-item .service {
  color: #000;
  text-decoration: none;
  border: 1px solid #999;
  text-align: center;
  padding: 25px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

@media (max-width: 1024px) {
  .services__container-item .service {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}

@media (max-width: 600px) {
  .services__container-item .service {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
}

@media (max-width: 400px) {
  .services__container-item .service {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.services__container-item .service:hover {
  background-color: #d90000;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services__container-item .service:hover .service__description {
  color: #fff;
}

.services__container-item .service__icon i {
  font-size: 40px;
}

.services__container-item .service__description {
  color: #999;
  font-size: 12px;
}

.services__container-item .service:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

@media (max-width: 1024px) {
  .services__container-item .service:nth-child(2) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
  }
}

@media (max-width: 600px) {
  .services__container-item .service:nth-child(2) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
  }
}

@media (max-width: 400px) {
  .services__container-item .service:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.services__container-item .service:nth-child(3) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
}

@media (max-width: 1024px) {
  .services__container-item .service:nth-child(3) {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9/13;
  }
}

@media (max-width: 600px) {
  .services__container-item .service:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (max-width: 400px) {
  .services__container-item .service:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

.services__container-item .service:nth-child(4) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
}

@media (max-width: 1024px) {
  .services__container-item .service:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (max-width: 600px) {
  .services__container-item .service:nth-child(4) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (max-width: 400px) {
  .services__container-item .service:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

.services__container-item .service:nth-child(5) {
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9/11;
}

@media (max-width: 1024px) {
  .services__container-item .service:nth-child(5) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (max-width: 600px) {
  .services__container-item .service:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media (max-width: 400px) {
  .services__container-item .service:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
}

.services__container-item .service:nth-child(6) {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
}

@media (max-width: 1024px) {
  .services__container-item .service:nth-child(6) {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (max-width: 600px) {
  .services__container-item .service:nth-child(6) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media (max-width: 400px) {
  .services__container-item .service:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
}
/*# sourceMappingURL=home-service.css.map */