@import 'variables.scss';
#noticas {
  @media (max-width: $tabletland) {
    padding: 0 10px;
  }
}

.noticas__container {
  margin: 60px 0;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  @media (max-width: $tabletland) {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }

  .entry__last {
    grid-row: 1/3;
    .entry__news--main {
      display: grid;
      @media (max-width: $tabletland) {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
      }
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-row-gap: 0px;

        img {
          height: 250px;
        }
      }
    }
    .entry__title {
      font-size: 0.9em;
    }
    .entry__button {
      width: 100px;
    }
    .entry__extracto {
      font-size: 0.9em;
    }
    .entry__thumbnail {
      height: 100%;
      width: 100%;
      margin: 0;
      a {
        img {
          width: 100%;
          height: 220px;
          float: left;
          object-fit: cover;
          object-position: top;
          @media (max-width: $tabletland) {
            height: 250px;
          }
          @media (max-width: 700px) {
            height: 100%;
          }
        }
      }
    }
    &-contents {
      display: grid;
      gap: 10px;
      padding: 10px;
      p {
        margin: 0;
      }
    }
    .entry__button {
      margin: 10px;
    }
  }
  .entry__rest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    @media (max-width: $tabletland) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
      gap: 15px 8px;
    }
    @media (max-width: 485px) {
      grid-template-columns: 1fr;
    }
  }
  .entry {
    max-height: 170px;
    @media (max-width: $tabletland) {
      max-height: unset;
    }
    &__news {
      display: grid;
      grid-template-columns: 200px 200px;
      @media (max-width: $tabletland) {
        grid-template-row: 1fr auto;
        grid-template-columns: 1fr;
      }

      .entry__thumbnail {
        height: 100%;
        width: 100%;
        a {
          img {
            width: 100%;
            height: 170px;
            float: left;
            object-fit: cover;
            object-position: top;
          }
        }
      }
    }
    &__contents {
      height: 170px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: $tabletland) {
        height: 110px;
      }
    }

    &__title {
      font-size: 0.6em;
    }
    &__extracto {
      text-align: center;
      font-size: 0.7em;
    }
    &__button {
      text-decoration: none;
      border: 1px solid $colorAzulClaro;
      color: $colorAzulClaro;
      padding: 3px 8px;
      transition: 0.3s;
      border-radius: 5px;
      justify-self: right;
      align-self: flex-end;
      margin: 0px 10px;
      width: 100px;
      text-align: center;
      &:hover {
        background-color: $colorAzulClaro;
        color: #fff;
        box-shadow: 0px 0px 3px 1px #2f5671;
      }
    }
  }
}

/*Helpers*/
.entry__dates {
  font-size: 0.8em;
  color: #999;
  text-decoration: none;

  i {
    margin: 0 3px;
  }
}

.entry__author,
.entry__date {
  text-decoration: none;
  color: #999;
  &:hover {
    color: rgb(112, 102, 112);
  }
}
