/*-----Section services--------------*/
@import 'variables.scss';

#services {
  @media (max-width: $tabletland) {
    padding: 0 10px;
  }
}

.services__container {
  grid-row-gap: 50px;
  margin: 0;
  width: 100%;
  @media (max-width: $tabletland) {
    padding: 0;
  }
}

.services__container-item {
  width: 100%;
  grid-column: 1/-1;
  grid-gap: 15px;
  @media (max-width: 600px) {
    padding: 0;
  }

  .service {
    color: #000;
    text-decoration: none;
    border: 1px solid #999;
    text-align: center;
    padding: 25px 15px;
    transition: 0.3s;
    grid-column: 1/3;

    @media (max-width: $tabletland) {
      grid-column: 1/5;
    }
    @media (max-width: 600px) {
      grid-column: 1/7;
    }
    @media (max-width: 400px) {
      grid-column: 1/13;
    }

    &:hover {
      background-color: $rojo;
      color: #fff;
      transition: 0.3s;
      .service__description {
        color: #fff;
      }
    }
    &__icon {
      i {
        font-size: 40px;
      }
    }
    &__description {
      color: #999;
      font-size: 12px;
    }
    &:nth-child(2) {
      grid-column: 3/5;
      @media (max-width: $tabletland) {
        grid-column: 5/9;
      }
      @media (max-width: 600px) {
        grid-column: 7/13;
      }
      @media (max-width: 400px) {
        grid-column: 1/13;
        grid-row: 2/3;
      }
    }
    &:nth-child(3) {
      grid-column: 5/7;
      @media (max-width: $tabletland) {
        grid-column: 9/13;
      }
      @media (max-width: 600px) {
        grid-column: 1/7;
        grid-row: 2/3;
      }
      @media (max-width: 400px) {
        grid-column: 1/13;
        grid-row: 3/4;
      }
    }
    &:nth-child(4) {
      grid-column: 7/9;
      @media (max-width: $tabletland) {
        grid-column: 1/5;
        grid-row: 2/3;
      }
      @media (max-width: 600px) {
        grid-column: 7/13;
        grid-row: 2/3;
      }
      @media (max-width: 400px) {
        grid-column: 1/13;
        grid-row: 4/5;
      }
    }
    &:nth-child(5) {
      grid-column: 9/11;
      @media (max-width: $tabletland) {
        grid-column: 5/9;
        grid-row: 2/3;
      }
      @media (max-width: 600px) {
        grid-column: 1/7;
        grid-row: 3/4;
      }
      @media (max-width: 400px) {
        grid-column: 1/13;
        grid-row: 5/6;
      }
    }
    &:nth-child(6) {
      grid-column: 11/13;
      @media (max-width: $tabletland) {
        grid-column: 9/13;
        grid-row: 2/3;
      }
      @media (max-width: 600px) {
        grid-column: 7/13;
        grid-row: 3/4;
      }
      @media (max-width: 400px) {
        grid-column: 1/13;
        grid-row: 6/7;
      }
    }
  }
}
