* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* __ Colors __*/
/* __ Devices __*/
/* __ Fonts __ */
@media (max-width: 1024px) {
  #noticas {
    padding: 0 10px;
  }
}

.noticas__container {
  margin: 60px 0;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
}

@media (max-width: 1024px) {
  .noticas__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
}

.noticas__container .entry__last {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.noticas__container .entry__last .entry__news--main {
  display: -ms-grid;
  display: grid;
}

@media (max-width: 1024px) {
  .noticas__container .entry__last .entry__news--main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
  }
}

@media (max-width: 600px) {
  .noticas__container .entry__last .entry__news--main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 0px;
  }
  .noticas__container .entry__last .entry__news--main img {
    height: 250px;
  }
}

.noticas__container .entry__last .entry__title {
  font-size: 0.9em;
}

.noticas__container .entry__last .entry__button {
  width: 100px;
}

.noticas__container .entry__last .entry__extracto {
  font-size: 0.9em;
}

.noticas__container .entry__last .entry__thumbnail {
  height: 100%;
  width: 100%;
  margin: 0;
}

.noticas__container .entry__last .entry__thumbnail a img {
  width: 100%;
  height: 220px;
  float: left;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

@media (max-width: 1024px) {
  .noticas__container .entry__last .entry__thumbnail a img {
    height: 250px;
  }
}

@media (max-width: 700px) {
  .noticas__container .entry__last .entry__thumbnail a img {
    height: 100%;
  }
}

.noticas__container .entry__last-contents {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  padding: 10px;
}

.noticas__container .entry__last-contents p {
  margin: 0;
}

.noticas__container .entry__last .entry__button {
  margin: 10px;
}

.noticas__container .entry__rest {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 8px;
}

@media (max-width: 1024px) {
  .noticas__container .entry__rest {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .noticas__container .entry__rest {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 15px 8px;
  }
}

@media (max-width: 485px) {
  .noticas__container .entry__rest {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.noticas__container .entry {
  max-height: 170px;
}

@media (max-width: 1024px) {
  .noticas__container .entry {
    max-height: unset;
  }
}

.noticas__container .entry__news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px;
      grid-template-columns: 200px 200px;
}

@media (max-width: 1024px) {
  .noticas__container .entry__news {
    grid-template-row: 1fr auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.noticas__container .entry__news .entry__thumbnail {
  height: 100%;
  width: 100%;
}

.noticas__container .entry__news .entry__thumbnail a img {
  width: 100%;
  height: 170px;
  float: left;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.noticas__container .entry__contents {
  height: 170px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .noticas__container .entry__contents {
    height: 110px;
  }
}

.noticas__container .entry__title {
  font-size: 0.6em;
}

.noticas__container .entry__extracto {
  text-align: center;
  font-size: 0.7em;
}

.noticas__container .entry__button {
  text-decoration: none;
  border: 1px solid #447ca2;
  color: #447ca2;
  padding: 3px 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0px 10px;
  width: 100px;
  text-align: center;
}

.noticas__container .entry__button:hover {
  background-color: #447ca2;
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px 1px #2f5671;
          box-shadow: 0px 0px 3px 1px #2f5671;
}

/*Helpers*/
.entry__dates {
  font-size: 0.8em;
  color: #999;
  text-decoration: none;
}

.entry__dates i {
  margin: 0 3px;
}

.entry__author,
.entry__date {
  text-decoration: none;
  color: #999;
}

.entry__author:hover,
.entry__date:hover {
  color: #706670;
}
/*# sourceMappingURL=home-news.css.map */