* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* __ Colors __*/
/* __ Devices __*/
/* __ Fonts __ */
.container__news h1 {
  width: 185px;
  margin-bottom: 60px;
}

.container__news h1::after {
  top: 120%;
}

.container__news .row {
  row-gap: 1em;
  -ms-flex-line-pack: center;
      align-content: center;
}

.news {
  grid-column: span 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 9px;
  justify-items: center;
}

@media (max-width: 1024px) {
  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news .news__thumbnail {
    margin: initial;
    height: 100%;
    width: 100%;
    max-height: 400px;
  }
  .news .news__thumbnail .post-thumbnail {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .news {
    grid-column: 1/-1;
  }
}

.news__link {
  text-decoration: none;
}

.news__thumbnail {
  margin-left: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__thumbnail .post-thumbnail {
  width: 260px;
}

.news__thumbnail .post-thumbnail img {
  height: inherit;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.news__title h2 {
  color: black;
  font-size: 2.3em;
}

.news__extra {
  margin: 10px 0;
  text-align: justify;
}

.news__dates {
  margin: initial;
}

.news__extra, .news__dates {
  color: #666;
  letter-spacing: .05em;
  font-size: 1.4em;
}

.news__extra i, .news__dates i {
  color: #666;
}

/*paginacion*/
.pagination {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3/10;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 600px) {
  .pagination {
    grid-column: 1/-1;
  }
}

.pagination__container {
  background-color: #fff;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 4px 0px #999;
          box-shadow: 0px 0px 4px 0px #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__container i {
  font-size: 1.8em;
  color: #cc545d;
  border-right: 1px #999;
  height: 100%;
  padding: 0;
}

.pagination__container .page-numbers {
  margin: 0 3px;
  font-size: 1.2em;
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
}

.pagination__container span.page-numbers {
  margin: 0 6px;
  color: #fff;
  border-radius: 12px;
  background-color: #d90000;
}

.pagination__container .prev.page-numbers {
  border-right: 1px solid #bbb;
  padding: 8px 10px;
  -webkit-transition: .5s all linear;
  transition: .5s all linear;
}

.pagination__container .prev.page-numbers:hover {
  background-color: transparent;
}

.pagination__container .prev.page-numbers:hover i {
  color: #d90000;
}

.pagination__container .next.page-numbers.page-numbers {
  border-left: 1px solid #bbb;
  padding: 8px 10px;
  -webkit-transition: .5s all linear;
  transition: .5s all linear;
}

.pagination__container .next.page-numbers.page-numbers:hover {
  background-color: transparent;
}

.pagination__container .next.page-numbers.page-numbers:hover i {
  color: #d90000;
}
/*# sourceMappingURL=page-news.css.map */