@import 'variables.scss';

.container__news{
    h1{
        width: 185px;
        margin-bottom: 60px;
        &::after{
            top: 120%;
        }
    }
    .row{
        row-gap: 1em;
        align-content: center;
    }
}

.news{
    grid-column: span 6;
    display: flex;
    flex-direction: row-reverse;
    font-size: 9px;
    justify-items: center;
    @media(max-width: $tabletland){
        flex-direction: column;
        .news__thumbnail{
            margin: initial;
            height: 100%;
            width: 100%;
            max-height: 400px;  
            .post-thumbnail{
                width: 100%;     
       
            }
        }
    }
    @media(max-width: 600px){
        grid-column: 1/-1;
    }
    &__link{
        text-decoration: none;
        // &:hover{
        //     .news__thumbnail{
        //         .post-thumbnail{
        //             img{
        //                 transform: scale(1.2);
        //                 transition: .5s ease-in-out;
        //             }
        //         }
        //     }
        // }
    }
    &__thumbnail{
        margin-left: 10px;
        height: 100%; 
        display: flex;
        align-items: center;   
        .post-thumbnail{
            width: 260px;      
           
            img{
                height: inherit;
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
    &__title{
        h2{
            color: black;
            font-size: 2.3em;
        }
    }
    &__extra{
        margin: 10px 0;
        text-align: justify;
    }
    &__dates{
        margin: initial;
    }
    &__extra,
    &__dates{
        color: #666;
        letter-spacing: .05em;
        font-size: 1.4em;
        i{
            color: #666;
        }
    }
}

/*paginacion*/

.pagination{
    grid-column: 3/10;
    justify-self: center;
    display: flex;
    padding: 0 2em;
    justify-content: center;
    @media(max-width:600px){
        grid-column: 1/-1;
    }
    &__container{
        background-color: #fff;
        border-radius: 25px;
        box-shadow: 0px 0px 4px 0px #999;
        display: flex;
        align-items: center;
        i{
            font-size:1.8em;
            color: $rojoClaro;
            border-right: 1px #999;
            height: 100%;
            padding: 0;
            
            
        }
         
        .page-numbers{
            margin: 0 3px;
            font-size: 1.2em;
            display:inline-block;
            padding:8px 12px;
            text-decoration: none;
            color: #000;
            
        }
        span.page-numbers{
            margin: 0 6px;
            color: #fff;
            border-radius:12px;
            background-color: $rojo;
        }
        
        
        .prev.page-numbers{
            border-right: 1px solid #bbb;
            padding:8px 10px;
            transition: .5s all linear;
            &:hover{
                i{
                    color:$rojo;
                }
                background-color: transparent;
            }
        }   
        .next.page-numbers.page-numbers{
            border-left: 1px solid #bbb;
            padding:8px 10px;
            transition: .5s all linear;
            &:hover{
                i{
                    color:$rojo;
                }
                background-color: transparent;
            }
        }  
    }
}