* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* __ Colors __*/
/* __ Devices __*/
/* __ Fonts __ */
.site__main a {
  text-decoration: none;
}

.site__main .single {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

@media (max-width: 720px) {
  .site__main .single {
    grid-column: 1/-1;
    text-align: justify;
  }
}

.site__main .single .entry__dates {
  padding: 0 1.2em;
}

.site__main-bar {
  grid-column-end: 12;
  -ms-grid-row: 1;
      grid-row-start: 1;
  margin-top: 8em;
}

@media (max-width: 720px) {
  .site__main-bar {
    display: none;
  }
}

.site__main .navigation {
  grid-column: 1/-1;
}

/*Siderbar*/
.search-submit {
  background-color: #d90000;
}

/*pages*/
.page {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
}

@media (max-width: 720px) {
  .page {
    grid-column: 1/-1;
    text-align: justify;
  }
}

.paginador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0;
}

.page-numbers {
  border: solid 1px #ddd;
  padding: 2px 10px;
  margin-left: 2px;
  color: #333;
}

.page-numbers a {
  text-decoration: none;
}

.page-numbers:hover {
  text-decoration: none;
  color: #2c4392;
  border-color: #2c4392;
}

.current {
  color: #fff;
  background: #2c4392;
}

.current:hover {
  color: #fff;
}
/*# sourceMappingURL=single.css.map */