@import 'variables.scss';

.site__main {
  a {
    text-decoration: none;
  }
  .single {
    grid-column: 1/13;

    @media (max-width: $tabletport) {
      grid-column: 1/-1;
      text-align: justify;
    }
    .entry__dates {
      padding: 0 1.2em;
    }
  }
  &-bar {
    grid-column-end: 12;
    grid-row-start: 1;
    margin-top: 8em;
    @media (max-width: $tabletport) {
      display: none;
    }
  }
  .navigation {
    grid-column: 1/-1;
  }
}

/*Siderbar*/

.search-submit {
  background-color: $rojo;
}

/*pages*/

.page {
  grid-column: 2/12;
  @media (max-width: $tabletport) {
    grid-column: 1/-1;
    text-align: justify;
  }
}

.paginador {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
.page-numbers {
  border: solid 1px #ddd;
  padding: 2px 10px;
  margin-left: 2px;
  color: #333;
}
.page-numbers a {
  text-decoration: none;
}
.page-numbers:hover {
  text-decoration: none;
  color: #2c4392;
  border-color: #2c4392;
}
.current {
  color: #fff;
  background: #2c4392;
}

.current:hover {
  color: #fff;
}
