* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* __ Colors __*/
/* __ Devices __*/
/* __ Fonts __ */
body.over {
  overflow: hidden;
}

@media (max-width: 300px) {
  .cintillo .row {
    width: 100%;
    padding: 0 5px;
  }
}

.cintillo .row .imagen {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  height: 50px;
}

.cintillo .row .imagen:last-child {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 40px;
}

@media (max-width: 720px) {
  .cintillo .row .imagen:last-child {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10/13;
    height: 30px;
  }
}

.cintillo .row .imagen img {
  height: 100%;
}

@media (max-width: 720px) {
  .cintillo .row .imagen {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    height: 40px;
  }
}

/*-----MENU--------------*/
.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 75px;
  background-color: #d90000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.menu-container .row {
  height: inherit;
}

.custom-logo-link {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 135px;
  height: 75px;
}

.custom-logo-link img {
  height: 100%;
}

.main-navigation {
  grid-column: 1/-1;
  height: 100%;
}

.main-navigation > div {
  height: inherit;
}

.main-navigation > div ul {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-navigation > div ul li {
  cursor: pointer;
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin: 0;
}

@media (max-width: 600px) {
  .main-navigation > div ul li {
    font-size: 1.3em;
  }
}

.main-navigation > div ul li:hover ul {
  left: 0;
}

.main-navigation > div ul li:hover, .main-navigation > div ul li.current_page_item {
  background: #447ca2;
}

.main-navigation > div ul li:hover::before, .main-navigation > div ul li.current_page_item::before {
  content: '';
  height: 10%;
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0;
  background: #447ca2;
}

.main-navigation > div ul li:hover::after, .main-navigation > div ul li.current_page_item::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 15px solid #2f688e;
  border-top: 0px solid transparent;
  border-bottom: 8px solid transparent;
  z-index: -1;
}

@media (max-width: 600px) {
  .main-navigation > div ul li:hover::after, .main-navigation > div ul li.current_page_item::after {
    content: none;
  }
}

.main-navigation > div ul li .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #d90000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-navigation > div ul li .sub-menu li {
  padding: 10px;
}

.main-navigation > div ul li .sub-menu li::after {
  display: none;
}

.main-navigation > div ul li a {
  color: #fff;
}

@media (max-width: 600px) {
  .main-navigation #menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    background-color: #447ca2cc;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
  }
  .main-navigation #menu-list.active {
    visibility: initial;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
  }
}

@media (max-width: 600px) and (max-width: 280px) {
  .main-navigation #menu-list {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .main-navigation #menu-list #primary-menu {
    position: relative;
    bottom: 0;
    height: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
}

.main-navigation .menu-toggle {
  display: none;
  position: absolute;
  z-index: 3;
}

@media (max-width: 600px) {
  .main-navigation .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-navigation .menu-toggle i {
  cursor: pointer;
  font-size: 40px;
  color: #fff;
}

/*--------PROGRAMAS-----------*/
.titulo-seccion {
  width: 125px;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  font-size: 25px;
}

.titulo-seccion::before, .titulo-seccion:after {
  content: '';
  position: absolute;
  height: 5px;
  top: 100%;
}

.titulo-seccion::before {
  background-color: #447ca2;
  left: 0;
  width: 55%;
}

.titulo-seccion::after {
  width: 70%;
  background-color: #d90000;
  right: 0;
  top: 140%;
}

.programas-content > .row {
  grid-row-gap: 50px;
}

@media (max-width: 1024px) {
  .programas-content > .row {
    padding: 0;
  }
}

.programas-content > .row .programas {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

.programas-content > .row .programas > .row {
  width: 100%;
  grid-gap: 10px;
  -ms-grid-rows: (250px)[3];
      grid-template-rows: repeat(3, 250px);
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .programas-content > .row .programas > .row {
    -ms-grid-rows: (175px)[3];
        grid-template-rows: repeat(3, 175px);
  }
}

@media (max-width: 600px) {
  .programas-content > .row .programas > .row {
    -ms-grid-rows: 1fr 200px 440px 1fr 1fr 200px;
        grid-template-rows: 1fr 200px 440px 1fr 1fr 200px;
  }
}

@media (max-width: 400px) {
  .programas-content > .row .programas > .row {
    -ms-grid-rows: (auto)[6];
        grid-template-rows: repeat(6, auto);
  }
}

.programas-content > .row .programas > .row .programa {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  position: relative;
}

@media (max-width: 600px) {
  .programas-content > .row .programas > .row .programa {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.programas-content > .row .programas > .row .programa a {
  height: 100%;
}

.programas-content > .row .programas > .row .programa a img {
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.programas-content > .row .programas > .row .programa:nth-child(2) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5/13;
}

@media (max-width: 600px) {
  .programas-content > .row .programas > .row .programa:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.programas-content > .row .programas > .row .programa:nth-child(2) .widget_text {
  padding: 10px 10rem;
}

@media (max-width: 1024px) {
  .programas-content > .row .programas > .row .programa:nth-child(2) .widget_text {
    padding: 10px 10px;
  }
}

.programas-content > .row .programas > .row .programa:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

@media (max-width: 600px) {
  .programas-content > .row .programas > .row .programa:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

.programas-content > .row .programas > .row .programa:nth-child(4) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media (max-width: 600px) {
  .programas-content > .row .programas > .row .programa:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

.programas-content > .row .programas > .row .programa:nth-child(5) {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media (max-width: 600px) {
  .programas-content > .row .programas > .row .programa:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
}

.programas-content > .row .programas > .row .programa:nth-child(6) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5/13;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

@media (max-width: 600px) {
  .programas-content > .row .programas > .row .programa:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
}

.programas-content > .row .programas > .row .programa:nth-child(6) .widget_text {
  padding: 10px 10rem;
}

@media (max-width: 1024px) {
  .programas-content > .row .programas > .row .programa:nth-child(6) .widget_text {
    padding: 10px 10px;
  }
}

.programas-content > .row .programas > .row .programa .widget_text {
  text-decoration: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ff54548a;
  color: #fff;
  padding: 10px 20px;
}

@media (max-width: 600px) {
  .programas-content > .row .programas > .row .programa .widget_text {
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.programas-content > .row .programas > .row .programa .widget_text .widget-title {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.programas-content > .row .programas > .row .programa .widget_text .widget-title::before {
  content: '';
  width: 50%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 25%;
  top: 125%;
}

@media (max-width: 600px) {
  .programas-content > .row .programas > .row .programa .widget_text .widget-title::before {
    height: 1px;
  }
}

@media (max-width: 1024px) {
  .programas-content > .row .programas > .row .programa .widget_text .widget-title {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .programas-content > .row .programas > .row .programa .widget_text .widget-title {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

@media (max-width: 400px) {
  .programas-content > .row .programas > .row .programa .widget_text .widget-title {
    font-size: 12px;
  }
}

.programas-content > .row .programas > .row .programa .widget_text .textwidget {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1024px) {
  .programas-content > .row .programas > .row .programa .widget_text .textwidget {
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  .programas-content > .row .programas > .row .programa .widget_text .textwidget {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .programas-content > .row .programas > .row .programa .widget_text .textwidget {
    font-size: 10px;
  }
}

.programas-content > .row .programas > .row .programa .widget_text .textwidget p {
  margin: 0;
}

.programas-content > .row .programas > .row .programa:hover .widget_text {
  opacity: 1;
}

/*------ENTES--------*/
.entes {
  margin-top: 50px;
}

.entes .row {
  grid-row-gap: 50px;
}

.entes-carousel {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

.entes-logo {
  font-size: 6.4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*---------METASLIDER------------*/
.metaslider.ms-theme-bubble
.flexslider
ol.flex-control-nav:not(.flex-control-thumbs)
li
a {
  border-color: #d90000 !important;
  background: #d90000 !important;
  color: #fff !important;
}

.metaslider.ms-theme-bubble
.flexslider
ol.flex-control-nav:not(.flex-control-thumbs)
li
a:hover {
  background: transparent !important;
}

.metaslider.ms-theme-bubble
.flexslider
ol.flex-control-nav:not(.flex-control-thumbs)
li
.flex-active {
  background: transparent !important;
}

.metaslider.ms-theme-bubble .flexslider ul.flex-direction-nav li a {
  background: #d90000a1 !important;
  width: 50px !important;
  height: 50px !important;
}

/*Animaciones*/
/*# sourceMappingURL=style-one.css.map */