@import 'variables.scss';
body {
  &.over {
    overflow: hidden;
  }
}
.cintillo {
  .row {
    @media (max-width: 300px) {
      width: 100%;
      padding: 0 5px;
    }
    .imagen {
      grid-column: 1/6;
      height: 50px;

      &:last-child {
        grid-column: 11/13;
        align-self: center;
        height: 40px;
        @media (max-width: $tabletport) {
          grid-column: 10/13;
          height: 30px;
        }
      }

      img {
        height: 100%;
      }

      @media (max-width: $tabletport) {
        grid-column: 1/9;
        height: 40px;
      }
    }
  }
}

/*-----MENU--------------*/

.menu-container {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  height: 75px;
  background-color: $rojo;
  align-items: center;
  z-index: 999;

  .row {
    height: inherit;
  }
}
.custom-logo-link {
  grid-column: 1/4;
  align-self: center;
  justify-self: center;
  width: 135px;
  height: 75px;
  img {
    height: 100%;
  }
}

.main-navigation {
  grid-column: 1/-1;
  height: 100%;

  & > div {
    height: inherit;
    ul {
      height: inherit;
      display: flex;
      justify-content: space-evenly;

      li {
        cursor: pointer;
        display: inherit;
        align-items: center;
        padding: 0 10px;
        margin: 0;
        @media (max-width: 600px) {
          font-size: 1.3em;
        }

        &:hover {
          ul {
            left: 0;
          }
        }
        &:hover,
        &.current_page_item {
          background: $colorAzulClaro;
          &::before {
            content: '';
            height: 10%;
            width: 100%;
            position: absolute;
            top: 100%;
            right: 0;
            background: $colorAzulClaro;
          }
          &::after {
            position: absolute;
            content: '';
            top: 100%;
            left: 100%;
            width: 0;
            height: 0;
            border-left: 15px solid #2f688e;
            border-top: 0px solid transparent;
            border-bottom: 8px solid transparent;
            z-index: -1;
            @media (max-width: 600px) {
              content: none;
            }
          }
        }
        .sub-menu {
          display: flex;
          background: #d90000;
          flex-direction: column;

          li {
            padding: 10px;
            &::after {
              display: none;
            }
          }
        }

        a {
          color: #fff;
        }
      }
    }
  }
  #menu-list {
    @media (max-width: 600px) {
      display: flex;
      visibility: hidden;
      width: 50%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      transform: rotate(100deg);
      transform-origin: top right;
      background-color: #447ca2cc;
      align-items: flex-end;
      justify-content: center;
      transition: 0.5s all ease-in-out;
      &.active {
        visibility: initial;
        transform: rotate(0deg);
        transition: 0.5s all ease-in-out;
      }
      @media (max-width: 280px) {
        width: 100%;
      }
      #primary-menu {
        position: relative;
        bottom: 0;
        height: 80%;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
      }
    }
  }
  .menu-toggle {
    display: none;
    position: absolute;
    z-index: 3;
    @media (max-width: 600px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    i {
      cursor: pointer;
      font-size: 40px;
      color: #fff;
    }
  }
}

/*--------PROGRAMAS-----------*/

.titulo-seccion {
  width: 125px;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  font-size: 25px;
  &::before,
  &:after {
    content: '';
    position: absolute;
    height: 5px;
    top: 100%;
  }
  &::before {
    background-color: $colorAzulClaro;
    left: 0;
    width: 55%;
  }
  &::after {
    width: 70%;
    background-color: $rojo;
    right: 0;
    top: 140%;
  }
}

.programas-content {
  & > .row {
    grid-row-gap: 50px;
    @media (max-width: $tabletland) {
      padding: 0;
    }

    .programas {
      grid-row: 2/3;
      grid-column: 1/13;
      & > .row {
        width: 100%;
        grid-gap: 10px;
        grid-template-rows: repeat(3, 250px);
        padding: 0;
        margin: 0;
        @media (max-width: $tabletland) {
          grid-template-rows: repeat(3, 175px);
        }
        @media (max-width: 600px) {
          grid-template-rows: 1fr 200px 440px 1fr 1fr 200px;
        }
        @media (max-width: 400px) {
          grid-template-rows: repeat(6, auto);
        }
        .programa {
          grid-column: 1/5;
          position: relative;
          @media (max-width: 600px) {
            grid-column: 1/13;
          }
          a {
            height: 100%;
            img {
              height: 100% !important;
              object-fit: cover;
            }
          }

          &:nth-child(2) {
            grid-column: 5/13;
            @media (max-width: 600px) {
              grid-column: 1/13;
              grid-row: 2/3;
            }
            .widget_text {
              padding: 10px 10rem;
              @media (max-width: $tabletland) {
                padding: 10px 10px;
              }
            }
          }

          &:nth-child(3) {
            grid-column: 1/5;
            grid-row: 2/4;
            @media (max-width: 600px) {
              grid-column: 1/13;
              grid-row: 3/4;
            }
          }
          &:nth-child(4) {
            grid-column: 5/9;
            grid-row: 2/3;
            @media (max-width: 600px) {
              grid-column: 1/13;
              grid-row: 4/5;
            }
          }
          &:nth-child(5) {
            grid-column: 9/13;
            grid-row: 2/3;
            @media (max-width: 600px) {
              grid-column: 1/13;
              grid-row: 5/6;
            }
          }
          &:nth-child(6) {
            grid-column: 5/13;
            grid-row: 3/4;
            @media (max-width: 600px) {
              grid-column: 1/13;
              grid-row: 6/7;
            }
            .widget_text {
              padding: 10px 10rem;
              @media (max-width: $tabletland) {
                padding: 10px 10px;
              }
            }
          }

          .widget_text {
            text-decoration: none;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: grid;
            flex-direction: column;
            justify-content: center;
            background: #ff54548a;
            color: #fff;
            padding: 10px 20px;
            @media (max-width: 600px) {
              padding: 10px 10px;
              display: flex;
            }
            .widget-title {
              position: relative;
              height: max-content;
              align-self: center;
              &::before {
                content: '';
                width: 50%;
                height: 2px;
                background-color: #fff;
                position: absolute;
                left: 25%;
                top: 125%;
                @media (max-width: 600px) {
                  height: 1px;
                }
              }
              @media (max-width: $tabletland) {
                font-size: 12px;
              }
              @media (max-width: 600px) {
                font-size: 18px;
                margin-bottom: 15px;
              }
              @media (max-width: 400px) {
                font-size: 12px;
              }
            }

            .textwidget {
              font-size: 14px;
              font-weight: 700;
              margin: 0;
              @media (max-width: $tabletland) {
                font-size: 11px;
              }
              @media (max-width: 600px) {
                font-size: 12px;
              }
              @media (max-width: 400px) {
                font-size: 10px;
              }
              p {
                margin: 0;
              }
            }
          }
          &:hover {
            & .widget_text {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/*------ENTES--------*/
.entes {
  margin-top: 50px;
  .row {
    grid-row-gap: 50px;
  }
}
.entes-carousel {
  grid-row: 2/3;
  grid-column: 1/13;
}

.entes-logo {
  font-size: 6.4vw;
  display: flex;
  justify-content: center;
}

/*---------METASLIDER------------*/
.metaslider.ms-theme-bubble
  .flexslider
  ol.flex-control-nav:not(.flex-control-thumbs)
  li
  a {
  border-color: $rojo !important;
  background: $rojo !important;
  color: #fff !important;

  &:hover {
    background: transparent !important;
  }
}
.metaslider.ms-theme-bubble
  .flexslider
  ol.flex-control-nav:not(.flex-control-thumbs)
  li
  .flex-active {
  background: transparent !important;
}

.metaslider.ms-theme-bubble .flexslider ul.flex-direction-nav li a {
  background: #d90000a1 !important;
  width: 50px !important;
  height: 50px !important;
}

/*Animaciones*/
