*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* __ Colors __*/
$colorAzulClaro: #447ca2;
$colorVerde: #2f8e6a;

/* __ Devices __*/
$desktop: 1200px;
$tabletland: 1024px;
$tabletport: 720px;

$mobile: 100px;

/* __ Fonts __ */
$defaultFont: sans-serif, open-sans- Helvetica;

$paddind_text: 30px;

$rojo: #d90000;
$rojoClaro :#cc545d;
